<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CGIEnabledSites</key>
	<string>sites-enabled</string>
	<key>CGILogLevel</key>
	<integer>0</integer>
	<key>CGIModules</key>
	<dict>
		<key>CGIModuleRoot</key>
		<string>.</string>
		<key>CGIModuleBinding</key>
		<array>
			<string>CGIPlistModule</string>
			<string>CGIIndexPageModule</string>
			<string>CGIListingModule</string>
		</array>
	</dict>
</dict>
</plist>
